@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*ICONS-----------------------*/
.icon-logo:before {
    content: url("images/logo-quick-image-packer.svg");
    height: 1em !important;
    width: 1em !important;
    vertical-align: -0.3rem;
    display: inline-block;
}

/*MAIN ELEMENTS--------------*/
:root {
    --menu-width: 400px;
    --menu-toggler-size: 20px;
}

body {
    background-color: #1d1f21;
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#main-content {
    padding-left: var(--menu-toggler-size);
    transition: padding-left 0.3s ease;
}

#main-content.menu-opened {
    padding-left: calc(var(--menu-width) + var(--menu-toggler-size));
}

/*MENU RELATED-----------*/
#menu-container {
    position: fixed;
    top: 0px;
    left: 0px;
    transition: left 0.3s ease;
    height: 100vh;
    z-index: 99999;
}

#menu-container.collapse {
    left: calc(var(--menu-width)*-1);
}

#menu {
    background-color: #141517;
    height: 100%;
    overflow-y: auto;
    overflow-x: visible;
    height: 100vh;
    position: relative;
    width: var(--menu-width);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Scrollbars*/
#menu::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#menu::-webkit-scrollbar-button:single-button {
    display: none;
}

#menu-footer {
    margin-top: auto;
}

/*MENU TOGGLER----------------*/
#menu-toggler {
    background-color: #0e0f10;
    text-align: center;
    width: var(--menu-toggler-size);
    height: 100vh;
    padding: 0px 6px;
    /*transition: transform 0.3s ease;*/
    position: absolute;
    top: 0;
    left: var(--menu-width);
    box-sizing: border-box;
    z-index: 999999;
    overflow: hidden;
}

#menu-toggler.flipped .arrow {
    transform: scaleX(-1);
}

#menu-toggler .arrow {
    content: url('images/img-arrow-left.svg');
    width: 100%;
    height: 100%;
}

#menu-toggler:hover {
    background-color: #181a1c;
}

/*CANVAS ---------------------*/
#canvas-container {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    overflow: auto;
}

#image-canvas {
    height: auto;
}

#image-canvas.fit-view {
    max-height: 100vh;
    max-width: 100%;
    height: 100vh;
    object-fit: contain;
    object-position: left;
    width: 100% !important;
    height: auto;
}

/*HEADINGS---------*/
h1 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    border-bottom: 2px solid #2f3336;
    /*background-color: #252629*/
    margin-left: -10px;
    margin-right: -10px;
    padding: 4px 10px;
    font-size: 16px;
}

/*INTERACTIVE ELEMENTS----------*/
a {
    color: #415b7d;
}

.input-field {
    max-width: 50px;
    background-color: #252629;
    border: none;
    border-radius: 3px;
    color: #bbbbbb;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input {
    float: right;
}

/*Checkbox and Radio Inputs*/
input[type="checkbox"],
input[type="radio"] {
    accent-color: #4e4f53;
    height: 20px;
    width: 20px;
    vertical-align: -6.5px;
}

input[type="checkbox"]:not(:checked) {
    opacity: 0.6;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #252629;
    width: 100%;
    max-width: 200px;
    height: 4px;
    border-radius: 4px;
    margin-top: 8px;
    margin-left: 8px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #bbbbbb;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    max-height: 20px;
    border: 3px solid #252629;
    border-radius: 4px;
    padding: 0px;
    position: relative;
    top: 2px;
}

input[type="color"] {
    -webkit-appearance: none;
    padding: 0;
    width: 55px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.btn-primary,
input[type="file"]::file-selector-button {
    background-color: #0e0f10;
    color: #bbbbbb;
    border: 2px solid #202124;
    padding: 8px;
    border-radius: 6px;
}

/*SCROLLBARS-------------*/
::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: #313131;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    background-color: #0f0f0f;
}

::-webkit-scrollbar-button:single-button {
    background-color: #313131;
    display: block;
    border: 1px solid #0f0f0f;
    height: 17px;
    width: 17px;
}



/*MEDIA QUERIES===============================*/

/*Mobile*/
@media only screen and (max-width: 480px) {

    h1 {
        font-size: 7.5vw
    }

    /*MAIN CONTENT------------*/
    #main-content {
        transition: padding-top 0.3s ease;
        padding-left: 0 !important;
    }

    #main-content.menu-opened {
        padding-top: calc(50vh + var(--menu-toggler-size));
    }

    /*MENU RELATED-----------*/
    #menu-container {
        width: 100%;
        max-width: none !impotant;
        transition: top 0.3s ease;
        max-height: 50vh;
    }

    #menu-container.collapse {
        top: -50vh;
        left: 0px;
    }

    #menu {
        width: 100%;
        max-height: 50vh;
    }

    /*MENU TOGGLER------------*/
    #menu-toggler {
        top: 50vh;
        left: 0px;
        width: 100%;
        height: 20px;
    }

    #menu-toggler .arrow {
        transform: rotate(90deg);
    }

    #menu-toggler.flipped .arrow {
        transform: rotate(270deg);
    }

    /*CANVAS ---------------------*/
    #canvas-container {
        max-height: calc(100vh - var(--menu-toggler-size));
        transition: max-height 0.3s ease;
    }

    #main-content.menu-opened #canvas-container {
        max-height: calc(50vh - var(--menu-toggler-size));
    }

}