#image-table {
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
    max-height: 20px;
    table-layout: fixed;
    height: 100%;
}

td,
th {
    padding: 0px;
}

#image-table img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.input-field {
    width: 50px;
}